<div class="card" style="width: 24rem">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">
      {{content}}
    </p>
    <div class="d-flex justify-content-between flex-row">
      <h6 class="card-subtitle text-muted">
        Created at
        <span class="date-user-span">{{createdAt}}</span>
      </h6>
      <h6 class="card-subtitle text-muted">
        Created by
        <span class="date-user-span">{{user.username}}</span>
      </h6>
    </div>
  </div>
</div>