<main>
  <!--add blog btn-->
  <div class="container d-flex flex-row justify-content-center">
    <button type="submit" class="btn login-btn add-blog-btn">Add blog</button>
  </div>
  <!--blogs dashboard-->
  <div class="d-flex d-sm-flex-column flex-row blogs-container">
    <div class="card" style="width: 50rem">
      <div class="card-body">
        <h5 class="card-title">Best VsCode extensions for 2022</h5>
        <p class="card-text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="d-flex justify-content-between flex-row">
          <button type="submit" class="btn login-btn edit-btn mb-1">
            Edit
          </button>
          <button type="submit" class="btn login-btn delete-btn mb-1">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 50rem">
      <div class="card-body">
        <h5 class="card-title">Best VsCode extensions for 2022</h5>
        <p class="card-text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="d-flex justify-content-between flex-row">
          <button type="submit" class="btn login-btn edit-btn mb-1">
            Edit
          </button>
          <button type="submit" class="btn login-btn delete-btn mb-1">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 50rem">
      <div class="card-body">
        <h5 class="card-title">Best VsCode extensions for 2022</h5>
        <p class="card-text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="d-flex justify-content-between flex-row">
          <button type="submit" class="btn login-btn edit-btn mb-1">
            Edit
          </button>
          <button type="submit" class="btn login-btn delete-btn mb-1">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 50rem">
      <div class="card-body">
        <h5 class="card-title">Best VsCode extensions for 2022</h5>
        <p class="card-text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="d-flex justify-content-between flex-row">
          <button type="submit" class="btn login-btn edit-btn mb-1">
            Edit
          </button>
          <button type="submit" class="btn login-btn delete-btn mb-1">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 50rem">
      <div class="card-body">
        <h5 class="card-title">Best VsCode extensions for 2022</h5>
        <p class="card-text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="d-flex justify-content-between flex-row">
          <button type="submit" class="btn login-btn edit-btn mb-1">
            Edit
          </button>
          <button type="submit" class="btn login-btn delete-btn mb-1">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
