<header>
  <!--navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="../images/logo.png" alt="Cuppa Tech logo" class="logo-img" />

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Login</a>
          <a class="nav-link" href="#">Sign Up</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<!--sign-up form-->
<form class="form container center_div add-blog">
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="add a title"
    />
    <textarea
      type="text"
      id="new-blog"
      rows="5"
      cols="55"
      class="input"
      placeholder="add blog content here"
    ></textarea>
  </div>

  <div class="container text-center">
    <button type="submit" class="btn signup-btn">Save</button>
  </div>
</form>