<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuppa Tech | Best VsCode extensions for 2022</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body class="body">
    <header>
      <!--navbar-->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img
            src="../images/logo.png"
            alt="Cuppa Tech logo"
            class="logo-img"
          />

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Dashboard</a>
              <a class="nav-link" href="#">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!--blog post container-->
    <main class="main">
      <div class="d-flex d-sm-flex-column flex-row blogs-container">
        <div class="card align-items-center" style="width: 50rem">
          <div class="card-body">
            <h5 class="card-title">Best VsCode extensions for 2022</h5>
            <p class="card-text">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here,
              content here', making it look like readable English. Many desktop
              publishing packages and web page editors now use Lorem Ipsum as
              their default model text, and a search for 'lorem ipsum' will
              uncover many web sites still in their infancy. Various versions
              have evolved over the years, sometimes by accident, sometimes on
              purpose (injected humour and the like).
            </p>
          </div>
        </div>
      </div>
      <!--add comment section-->
      <form class="form container center_div add-comment" style="width: 30rem">
        <div class="d-flex flex-column align-items-between">
          <textarea
            type="text"
            id="new-comment"
            rows="2"
            class="input"
            placeholder="add comment here"
          ></textarea>
          <button type="submit" class="btn login-btn">Leave comment</button>
        </div>
      </form>
      <!--comments section-->
      <div class="container d-flex flex-column comments-container">
        <div class="row">
          <div class="col-sm-5 col-md-6 col-12 pb-4">
            <h4>Comments</h4>
          </div>
          <!--each comment container-->
          <div class="mt-3 comment">
            <h5 class="mt-2">Techguru55 - <span>21.06.21</span></h5>
            <hr />
            <p>Brilliant tips</p>
          </div>
          <div class="mt-3 comment">
            <h5 class="mt-2">Techguru55 - <span>21.06.21</span></h5>
            <hr />
            <p>Brilliant tips</p>
            <div class="d-flex flex-row justify-content-end">
              <button type="submit" class="btn login-btn edit-btn mb-1">
                Edit
              </button>
              <button type="submit" class="btn login-btn delete-btn mb-1">
                Delete
              </button>
            </div>
          </div>
          <div class="mt-3 comment">
            <h5 class="mt-2">Techguru55 - <span>21.06.21</span></h5>
            <hr />
            <p>Brilliant tips</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
