* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
}

p {
  font-size: 1.2rem;
}

.navbar,
.form {
  background-color: #152039;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #ff6341;
}
.logo-img {
  width: 10rem;
  height: 10rem;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #0b101d;
}

.blogs-container {
  margin: 3rem;
  justify-content: center;
}
.card {
  margin: 1rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

.card-title {
  color: #ff6341;
}

.card-text {
  color: #152039;
  text-align: justify;
}

.date-user-span {
  color: #ff6341;
}
/*style for signup and login form*/
.form {
  margin-top: 5rem;
  width: 30rem;
}
.form label {
  color: #ff6341;
}

.signup-btn,
.login-btn {
  background-color: #ff6341;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: #ffb09f;
  color: #0b101d;
}

/*single blog page styling*/
.input {
  margin-bottom: 0.8rem;
}

.add-comment {
  background-color: #0b101d;
}

.comments-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 40rem;
}
.comments-container h4 {
  text-align: center;
}
.comments-container h4,
.comment h5,
span {
  color: #ff6341;
}

.comment {
  background-color: white;
  border: 0.1rem solid #ff6341;
  border-radius: 1rem;
  margin-bottom: 0rem;
  text-align: justify;
}

.edit-btn,
.delete-btn {
  margin-right: 1rem;
  width: 5rem;
}

/*dashboard page styling*/
.add-blog-btn {
  margin-top: 5rem;
}
